<h1>Contact Us</h1>

<%= form_tag('contact', id: "contact-form") do %>
    <%= label_tag(:name, "Name: ") %>
    <br />
    <%= text_field(:contact,'', placeholder: "Name") %>
    <br />
    <%= label_tag(:email, "Email: ") %>
    <br />
    <%= text_field_(:email, '', size: 250, placeholder: "Email") %>
    <br />
    <%= label_tag(:subject, "Subject: ") %>
    <br />
    <%= text_field(:subject, '', placeholder: "Subject") %>
    <br />
    <%= label_tag(:body, "Body: ") %>
    <br />
    <%= text_area_tag(:body, '', cols: 75, rows: 10, placeholder: "Your question/comment") %>
    <br /><br />
    <%= button_tag 'Submit', class: 'btn btn-primary' %>

<% end %>