<div class="hero-unit">
  <h1>Select a file to upload to Cinch</h1>
  <p>Files must be .txt or .cvs files.
    Please make sure each URL listed is on its own line in your file, and
    limit your list to a maximum of 10,000 urls.</p>

  <%= form_tag(@upload, :url => uploads_path, multipart: true, id: 'upload_form', class: 'reg_form') do %>

      <% if @upload.errors.any? %>
          <div class="alert-error">
            <h2><%= pluralize(@upload.errors.count, "error") %> :</h2>
            <ul>
              <% @upload.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= file_field_tag 'path' %>
      <%= render 'layouts/form-convert' %>
  <% end %>
</div>
