<h1>Contact Us</h1>


<div class="form">
  <p>Fields with <span class="require">*</span> are required.</p>

    <%= form_for @message, :url => contact_path  do |f| %>

         <% if @message.errors.any? %>
             <div class="alert-error">
               <h2><%= pluralize(@message.errors.count, "error") %> :</h2>
               <ul>
                 <% @message.errors.full_messages.each do |msg| %>
                     <li><%= msg %></li>
                 <% end %>
               </ul>
             </div>
         <% end %>

        <%= f.label :name, "Name:" %><span class="require">*</span>
        <br />
        <%= f.text_field(:name, placeholder: "Name") %>
        <br />
        <%= f.label :email, "Email:" %><span class="require">*</span>
        <br />
        <%= f.text_field(:email, placeholder: "Email") %>
        <br />
        <%= f.label(:subject, "Subject:") %><span class="require">*</span>
        <br />
        <%= f.text_field(:subject, placeholder: "Subject") %>
        <br />
        <%= f.label(:body, "Question/Comment:") %><span class="require">*</span>
        <br />
        <%= f.text_area(:body, placeholder: "Your question/comment") %>
        <br />
        <%= f.label(:captcha, "Verification Code:") %><span class="require">*</span>
        <%= f.show_simple_captcha object: "message",
                                  label: "Please enter the letters as they are shown in the image above." %>
        <br /><br />
        <%= f.button 'Send Message', class: 'btn btn-primary' %>

    <% end %>
</div>