<div class="hero-unit">
  <h1>Select a file to upload to Cinch</h1>
  <p>Files must be .txt or .cvs files.
    Please make sure each URL listed is on its own line in your file, and
    limit your list to a maximum of 10,000 urls.</p>

  <%= form_for @upload, :url => upload_path, :multipart => true do |f| %>

      <%= render 'layouts/error_messages', target: @upload %>

      <%= f.file_field :path %>
      <%= f.hidden_field :path_cache %>
      <%= render 'layouts/form-convert' %>
  <% end %>
</div>
