<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Cinch2", root_path, class: "brand" %>
      <div class="container nav-collapse">
        <ul class="nav">
          <li><%= link_to "About the Tool", about_path  %></li>
          <li><%= link_to "About the Project", project_path  %></li>
          <li><%= link_to "FAQ", faq_path  %></li>
          <li><%= link_to "Contact", contact_path  %></li>
          <% if user_signed_in? %>
              <li><%= link_to "Uploads", uploads_path  %></li>
              <li><%= link_to "Crawl Url", crawl_path  %></li>
              <li><%= link_to "Crawl Results", crawl_results_path  %></li>
              <li><%= link_to "Download your Files", download_path  %></li>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
              <li>
                <%= link_to('Login', new_user_session_path)  %>
              </li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>