<!DOCTYPE html>
<html>
<head>
  <title>Cinch2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/menu' %>

<div id="mainwrap">
<%= yield %>
<div id="foot">
  <ul>
    <li><%= link_to image_tag("footerncdcr75.png", alt: "NCDCR Logo"), "http://ncdcr.gov" %></li>
    <li><%= link_to image_tag("footerslnc75.png", alt: "SLNC Logo"), "http://statelibrary.ncdcr.gov" %></li>
    <li><%= link_to image_tag("footernclive75.png", alt: "NCLIVE Logo"), "http://nclive.org" %></li>
    <li><%= link_to image_tag("IMLS_Logo.png", alt: "IMLS Logo"), "http://www.imls.gov" %></li>
  </ul>
</div>
</div>
</body>
</html>
